<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newstate="{{devoured}}">
		{{#if devoured}}DEVOUR IT!{{else}}GET ANOTHER ONE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>